@model ImageUpload.Models.CommentModel

@{
    ViewData["Title"] = "Flag Comment";
}

<h1>Flag Comment</h1>

<div class="grid-container-flag">
    <div class="Comment"><h5>@Html.DisplayFor(modelItem => Model.Comment)</h5></div>
    <div class="Name">@Html.DisplayFor(modelItem => Model.Name)</div>
    <div class="Date">Date to be added</div>
</div>

<form asp-action="FlagComment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div style="display:grid; grid-template-columns:auto auto;">
        <div class="form-group">
            <label asp-for="FlagModel.Reason" class="control-label">Comment</label>
            <input asp-for="FlagModel.Reason" class="form-control" required />
            <span asp-validation-for="FlagModel.Reason" class="text-danger"></span>
        </div>
        <input type="number" name="FlagModel.CommentId" hidden value="@Model.CommentId">
        <input type="number" name="ImageId" value="@Model.ImageId">


        <div class="form-group">

            <input type="submit" value="Flag Comment" class="btn btn-primary" />

        </div>

    </div>
</form>

@Html.ActionLink("Cancel", "ViewPost", "Home", new { Id = Model.ImageId })