@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<ImageUpload.Models.ImageModel>

@{
    ViewData["Title"] = "Admin Home Page";
}
<head>

</head>
<div class="text-center">

    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Admin Dashboard</h1>

        <style>
            #Admin_View:link, #Admin_View:visited {
                border-style: solid;
                border-color: darkblue;
                box-shadow: 5px 10px darkblue;
                padding: 50px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
            }

            #Admin_View:hover, #Admin_View:active {
                background-color: darkorange;
            }
        </style>




        <a id="Admin_View" class="navbar-brand" asp-area="" asp-controller="Image" asp-action="Photo_Upload">
            Upload Photo
        </a>
        <a id="Admin_View" class="navbar-brand" asp-area="" asp-controller="Image" asp-action="ViewImage">
            Delete Photo
        </a>
        <a id="Admin_View" class="navbar-brand" asp-area="" asp-controller="Image" asp-action="ViewImage">
            View Images
        </a>
        <br />
        <br />
        <a id="Admin_View" class="navbar-brand" asp-area="" asp-controller="Image" asp-action="ViewImage">
            Monitor Tag
        </a>
        <a id="Admin_View" class="navbar-brand" asp-area="" asp-controller="Image" asp-action="ViewImage">
            Flagged Comments
        </a>
        <a id="Admin_View" class="navbar-brand" asp-area="" asp-controller="Image" asp-action="ViewImage">
            New Comments
        </a>




        <div id="Admin_Stuff">



        </div>

    }
    else
    {
        <style>
            #asd {
                display: flex;
                justify-content: flex-end;
            }
        </style>


        <a id="asd" asp-area="" asp-controller="Home" asp-action="Email">Want to Upload A Photo? Email Us</a>

        <h1 class="display-4">Welcome Alumni</h1>


        <style>

          

            .collapsible {
                background-color: darkblue;
                color: white;
                cursor: pointer;
                padding: 10px;
                width: 50%;
                border: 10px double;
                text-align: center;
                outline: none;
                font-size: 15px;

            }

                .active, .collapsible:hover {
                    background-color: darkorange;
                }

            .content {
                padding: 0 18px;
                display: none;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }

            .collapsible:after {
                content: '\02795'; /* Unicode character for "plus" sign (+) */
                font-size: 13px;
                color: white;
                float: right;
                margin-left: 5px;
            }

            .active:after {
                content: "\2796"; /* Unicode character for "minus" sign (-) */
            }
        </style>


        <div id="AlumniHome">
            <center>
                <div class="text-left">
                    <p>Start by selecting the decade attended:</p>
                </div>
                <button type="button" class="collapsible" id="1950" style="        display: none;">1950 - 1961</button>
                <div class="content" id="1950 - 1960" style="display: none;">
                </div>

                <button type="button" class="collapsible" id="1961" style="        display: none;">1961 - 1970</button>
                <div class="content" id="1961 - 1970" style="display: none;">

                </div>
                <button type="button" class="collapsible" id="1971" style="        display: none;">1971 - 1980</button>
                <div class="content" id="1971 - 1980" style="display: none;">

                </div>
                <button type="button" class="collapsible" id="1981" style="        display: none;">1981 - 1990</button>
                <div class="content" id="1981 - 1990" style="display: none;">

                </div>
                <button type="button" class="collapsible" id="1991" style="        display: none;">1991 - 2000</button>
                <div class="content" id="1991 - 2000" style="display: none;">

                </div>
                <button type="button" class="collapsible" id="2001" style="        display: none;">2001 - 2010</button>
                <div class="content" id="2001 - 2010" style="display: none;">

                </div>
            </center>

            </div>



        <script>
            function createDiv() {



                if (!document.getElementById(arguments[0])) {
                    holder = document.getElementById(arguments[1]);
                    add2 = document.createElement("button");
                    add2.setAttribute("type", "button");
                    add2.setAttribute("class", "collapsible");
                    add2.setAttribute("Id", arguments[0] + "1");


                    add5 = document.createTextNode(arguments[2]);
                    add2.append(add5);

                    add3 = document.createElement("div");
                    add3.setAttribute("class", "content");
                    add3.setAttribute("Id", arguments[0]);



                    holder.append(add2, add3);
                } else {

                }
              
            }
            function newpage(id) {

                window.location.href = "/Home/ViewPost/" + id;
            }
        </script>

        @if (Model.Count() == 0)
        {
            <script>
                holder = document.getElementById("AlumniHome");

                holder.append("Please request your photo to be upload by email request");
            </script>

        }
        else
        {

            @foreach (var item in Model)
            {


                @if (item.School_Year_End >= 1950 && item.School_Year_End <= 1960)
                {

                

<script>
                        document.getElementById('1950').style.display = "block";

                        createDiv("1950 - 1960" + "@item.School_Year_End.ToString()", "1950 - 1960", "@item.School_Year_End.ToString()");
                        createDiv("1950 - 1960" + "@item.School_Year_End.ToString()" + "@item.Grade", "1950 - 1960" + "@item.School_Year_End.ToString()", "@item.Grade");

                        createDiv("1950 - 1960" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()", "1950 - 1960" + "@item.School_Year_End.ToString()" + "@item.Grade.ToString()", "@item.Teacher_Name.ToString()");

                a = document.getElementById("1950 - 1960" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()" + "1");
                a.setAttribute("onclick", "return newpage(@item.Id);");

</script> 


                }
                else if (item.School_Year_End >= 1961 && item.School_Year_End <= 1970)
                {
<script>
                        document.getElementById('1961').style.display = "block";

                        createDiv("1961 - 1970" + "@item.School_Year_End.ToString()", "1961 - 1970", "@item.School_Year_End.ToString()");
                        createDiv("1961 - 1970" + "@item.School_Year_End.ToString()" + "@item.Grade", "1961 - 1970" + "@item.School_Year_End.ToString()", "@item.Grade");

                        createDiv("1961 - 1970" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()", "1961 - 1970" + "@item.School_Year_End.ToString()" + "@item.Grade.ToString()","@item.Teacher_Name.ToString()");
    a = document.getElementById("1961 - 1970" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()" + "1");
                a.setAttribute("onclick", "return newpage(@item.Id);");


</script>

                }
                else if (item.School_Year_End >= 1971 && item.School_Year_End <= 1980)
                {
<script>
                        document.getElementById('1971').style.display = "block";

    createDiv("1971 - 1980" + "@item.School_Year_End.ToString()", "1971 - 1980", "@item.School_Year_End.ToString()");
    createDiv("1971 - 1980" + "@item.School_Year_End.ToString()" + "@item.Grade", "1971 - 1980" + "@item.School_Year_End.ToString()", "@item.Grade");
    createDiv("1971 - 1980" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()", "1971 - 1980" + "@item.School_Year_End.ToString()" + "@item.Grade.ToString()","@item.Teacher_Name.ToString()");
    a = document.getElementById("1971 - 1980"" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()" + "1");
                a.setAttribute("onclick", "return newpage(@item.Id);");

</script>

                }
                else if (item.School_Year_End >= 1981 && item.School_Year_End <= 1990)
                {
<script>
                        document.getElementById('1981').style.display = "block";

                        createDiv("1981 - 1990" + "@item.School_Year_End.ToString()", "1981 - 1990", "@item.School_Year_End.ToString()");
                        createDiv("1981 - 1990" + "@item.School_Year_End.ToString()" + "@item.Grade", "1981 - 1990" + "@item.School_Year_End.ToString()", "@item.Grade");
                        createDiv("1981 - 1990" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()", "1981 - 1990" + "@item.School_Year_End.ToString()" + "@item.Grade.ToString()","@item.Teacher_Name.ToString()");
    a = document.getElementById("1981 - 1990" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()" + "1");
                a.setAttribute("onclick", "return newpage(@item.Id);");


</script>

                }
                else if (item.School_Year_End >= 1991 && item.School_Year_End <= 2000)
                {
<script>
                        document.getElementById('1991').style.display = "block";

                        createDiv("1991 - 2000" + "@item.School_Year_End.ToString()", "1991 - 2000", "@item.School_Year_End.ToString()");
                        createDiv("1991 - 2000" + "@item.School_Year_End.ToString()" + "@item.Grade", "1991 - 2000" + "@item.School_Year_End.ToString()", "@item.Grade");
                        createDiv("1991 - 2000" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()", "1991 - 2000" + "@item.School_Year_End.ToString()" + "@item.Grade.ToString()","@item.Teacher_Name.ToString()");
    a = document.getElementById("1991 - 2000" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()" + "1");
                a.setAttribute("onclick", "return newpage(@item.Id);");


</script>

                }
                else if (item.School_Year_End >= 2001 && item.School_Year_End <= 2010)
                {
<script>
                        document.getElementById('2001').style.display = "block";

                        createDiv("2001 - 2010" + "@item.School_Year_End.ToString()", "2001 - 2010", "@item.School_Year_End.ToString()");
                        createDiv("2001 - 2010" + "@item.School_Year_End.ToString()" + "@item.Grade", "2001 - 2010" + "@item.School_Year_End.ToString()", "@item.Grade");
                        createDiv("2001 - 2010" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()", "2001 - 2010" + "@item.School_Year_End.ToString()" + "@item.Grade.ToString()","@item.Teacher_Name.ToString()");
    a = document.getElementById("2001 - 2010" + "@item.School_Year_End.ToString()" + "@item.Grade" + "@item.Teacher_Name.ToString()" + "1");
                a.setAttribute("onclick", "return newpage(@item.Id);");
</script>

                }

               

            }



        }


        <!--issue last div based on grade maybe change to include prev div -->




        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
        </script>


    }



</div>

