
@model ImageUpload.Models.ImageModel

@{
    ViewData["Title"] = "Photo";
}

<style>
    #hid1, #hid2, #hid3, #hid5, #hid6 {
        display: none;
    }

    #hid4, #hid7 {
        display: block;
    }

    #Image:hover {
        opacity: 0.7;
    }

    #Image {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #Image:hover {
            opacity: 0.7;
        }
    /*Credit for pop up Image: w3schools*/
    /* The Modal (background) */
    .modal1 {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    /* Modal Content (Image) */
    .modal1-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    /* Add Animation */
    .modal1-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }
    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal1-content {
            width: 100%;
        }
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
  


</style>



<div class="container-fluid">
    <p>@Html.ActionLink("<Back", "index") </p>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header" style="text-align:center">
                    @Html.DisplayFor(model => model.SchoolYearBegin) - @Html.DisplayFor(model => model.SchoolYearEnd) &emsp;|&emsp;
                    @Html.DisplayFor(model => model.Grade) Grade &emsp;|&emsp;
                    @Html.DisplayFor(model => model.TeacherName)
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <div class="container">
                            
                            <div id="MainImage">
                                @if (Model.GalleryModel.Count is 0)
                                {
                                    <img src="@Model.src" id="Image" style="width: 100%; height: auto" alt="Class of @Model.SchoolYearBegin - @Model.SchoolYearEnd" class="center" />
                                }
                                else
                                {
                                    <div id="carouselExampleControls-@Model.ImageId" class="carousel slide" data-ride="carousel" data-interval="false">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="@Model.src" id="Image" style="width: 100%; height: auto" alt="Class of @Model.SchoolYearBegin - @Model.SchoolYearEnd" class="center" />
                                            </div>




                                            @foreach (var entry in Model.GalleryModel)
                                            {


                                                <div class="carousel-item">
                                                    <img class="d-block w-100" id="Image" style="width: 100%; height: auto" src="@entry.GallerySrc" alt="Class of @Model.SchoolYearBegin - @Model.SchoolYearEnd" >
                                                </div>

                                               

                                            }


                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls-@Model.ImageId" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls-@Model.ImageId" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                }
                            </div>

                            <div class="overlay">
                                <img src="@Model.TaggedSrc" id="TagImage" style="width: 100%; height: auto; display:none" alt="Tagged Image" />
                            </div>
                        </div>
                    </p>


                    <div id="myModal" class="modal1">
                        <!-- The Close Button -->
                        <span class="close">&times;</span>
                        <!-- Modal Content (The Image) -->
                        <img class="modal-content" id="img01">
                        <!-- Modal Caption (Image Text) -->
                        <div id="caption"></div>
                    </div>



                    @if (Model.NumberOfPeople > 0)
                    {
                        <button id="hid7" type="button" class="btn btn-secondary" onclick="viewTags()">Show Tags</button>
                        <div id="hid5" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <button id="hid6" class="btn btn-outline-secondary" onclick="hideTags()">Hide Tags</button>
                            @for (int i = 1; i < Model.NumberOfPeople + 1; i++)
                            {
                                int a = i;
                                @foreach (var tags in Model.AddingTagModel)
                                {
                                    @if (tags.Tag == @i)
                                    {
                                        <button type="button" id="photobutton" class="btn btn-secondary">@i - @tags.Name</button>
                                        i++;
                                        break;
                                    }
                                }
                                @if (a == @i)
                                {
                                    <button type="button" id="photobutton" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="newTag(@Model.ImageId,@i)">@i</button>
                                }
                                else
                                {
                                    i--;
                                }
                            }
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">What is this person's name?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-action="NewTag">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div style="display:grid; grid-template-columns:auto auto;">
                                                <div id="Tag_Photo_id" class="form-group">
                                                </div>
                                                <div id="Tag_id" class="form-group">
                                                </div>
                                                <div class="form-group">
                                                    <input asp-for="Name" value="" class="form-control" />
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" value="Submit" class="btn btn-primary" />
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>Currently working on the tags for this photo. Thank you for your patience!</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 style="padding: 5px 0px 4px 10px;">
                Connect with Classmates and Teachers
            </h3>
            <div style="display:grid;grid-template-columns:60% 30%;padding-bottom:16px;text-align:center;">
                <h5 style="font-weight:normal">
                    Share some memories!
                </h5>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                    Leave a Comment
                </button>
            </div>
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div>
                                <h5 class="modal-title" id="exampleModalLabel">Leave a Comment</h5>
                                <p style="margin-bottom:0">
                                    Share some memories but keep them short as the comment field is limited to 144
                                    characters. Let your classmates know how to contact you – possibly with a link to your
                                    Facebook account or an email address.
                                </p>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="padding-bottom:0">
                            <form asp-action="ViewPost">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div style="display:grid; grid-template-columns:auto auto;">
                                    <div class="form-group">
                                        <label asp-for="Comments.Comment" class="control-label">Comment</label>
                                        <input asp-for="Comments.Comment" class="form-control" maxlength="144" required />
                                        <span asp-validation-for="Comments.Comment" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Comments.Name" class="control-label">Commenter Name</label>
                                        <input asp-for="Comments.Name" class="form-control" required />
                                        <span asp-validation-for="Comments.Name" class="text-danger"></span>
                                    </div>
                                    <input type="number" name="Comments.Flag" hidden value="0">
                                    <input type="number" name="Comments.ImageId" hidden value="@Model.ImageId">
                                    <div class="modal-footer" style="border-top:none">
                                        <input type="submit" value="Post Comment" class="btn btn-primary" />
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div>
                    <form class="form-inline" asp-action="ViewPost" method="get">
                        <p style="font-size:13px; margin-bottom:0px">
                            To search for information on a specific person, enter the first name in the search. Then,
                            you can further narrow your search results, if needed.
                        </p>

                        <input class="form-control mr-sm-2" type="text" style="width:60%;" name="search" value="@ViewBag.CurrentSearch" placeholder="Search..." />
                        <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Search" />
                        <span style="padding: 0px 10px 0px 10px"></span>
                        <a asp-action="ViewPost">Cancel</a>
                    </form>
                </div>
            </nav>
            <table class="table table-striped">
                @if (Model.CommentModel.Count() == 0)
                {
                    <tr>
                        <td>
                            There aren't any comments yet... Be the first to comment!
                        </td>
                    </tr>
                }
                <tbody>
                    @foreach (var com in Model.CommentModel)
                    {
                        if (com.Flag != true)
                        {
                            <tr>
                                <td>
                                    <div class="grid-container1">
                                        <div class="Comment"><p style="font-weight:bold">@Html.DisplayFor(modelItem => com.Comment)</p></div>
                                        <div class="Name">@Html.DisplayFor(modelItem => com.Name)</div>
                                        <div class="Date">@Html.DisplayFor(modelItem => com.CommentDate)</div>
                                        <div class="Flag"><button class="btn btn-outline-secondary" onclick="window.location.href = '/Home/FlagComment/@com.CommentId';">Flag</button></div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <p style="text-align:center">
                Pages:&nbsp;
                @for (int i = 1; i <= Model.Pages; i++)
                {
                    if (i != Model.CurrentPage)
                    {
                        @Html.ActionLink(i.ToString(), "ViewPost", "Home", new { Id = Model.ImageId, page = i, Search = ViewBag.CurrentSearch })
                    }
                    else
                    {
                        @Html.DisplayFor(Model => Model.CurrentPage)
                    }
                    if (i < Model.Pages)
                    {
                        @:&nbsp;|&nbsp;
                    }
                }
            </p>
        </div>
    </div>
</div>
<script>
    function newTag(id, tag) {
        holder = document.getElementById("Tag_Photo_id");
        add1 = document.createElement("input");
        add1.setAttribute("type", "hidden");
        add1.setAttribute("name", "Id");
        add1.setAttribute("value", id);
        holder.append(add1);
        holder1 = document.getElementById("Tag_id");
        add2 = document.createElement("input");
        add2.setAttribute("type", "hidden");
        add2.setAttribute("name", "Tag");
        add2.setAttribute("value", tag);
        holder1.append(add2);
    }
    function viewTags() {
        document.getElementById("TagImage").style.display = "block";
        document.getElementById("MainImage").style.display = "none";
        document.getElementById("hid5").style.display = "flex";
        document.getElementById("hid5").style.justifyContent = "center";
        document.getElementById("hid5").style.alignItems = "center";
        document.getElementById("hid6").style.display = "block";
        document.getElementById("hid7").style.display = "none";

    }
    function hideTags() {
        document.getElementById("TagImage").style.display = "none";
        document.getElementById("MainImage").style.display = "block";
        document.getElementById("hid5").style.display = "none";
        document.getElementById("hid6").style.display = "none";
        document.getElementById("hid7").style.display = "block";

    }
    var modal = document.getElementById("myModal");
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("Image");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }
    var Tagimg = document.getElementById("TagImage");
    Tagimg.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }
    // Get the <span> element that closes the modal1
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on <span> (x), close the modal1
    span.onclick = function () {
        modal.style.display = "none";
    }



    function ViewImage(i) {

        ImageN = document.getElementById("Image-" + i);

        ImageN.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;

        }

    }




</script>