@model ImageUpload.Models.ImageModel

@{
    ViewData["Title"] = "Photo";
}
<style>
#hid1, #hid2, #hid3, #hid5, #hid6 {
    display: none;
}
#hid4, #hid7 {
    display: block;
}


    

</style>

<div class="container-fluid">
    <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header" style="text-align:center">
                        @Html.DisplayFor(model => model.SchoolYearBegin) - @Html.DisplayFor(model => model.SchoolYearEnd)
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <div class="container">
                                <img src="@Model.src" id="Image" style="width: 100%; height: auto" alt="Unknown Image" class="center" />
                                <div class="overlay">
                                    <img src="@Model.TaggedSrc" id="TagImage" style="width: 100%; height: auto; display:none" alt="Unknown Image" class="center" />
                                </div>
                            </div>
                        </p>



                        @if (Model.NumberOfPeople > 0)
                        {
                            <button id="hid7" type="button" class="btn btn-secondary" onclick="viewTags()">Show Tags</button>

                            <div id="hid5" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                                <button id="hid6" class="btn btn-outline-secondary" onclick="hideTags()">Hide Tags</button>

                                @for (int i = 1; i < Model.NumberOfPeople + 1; i++)
                                {
                                    int a = i;

                                    @foreach (var tags in Model.AddingTagModel)
                                    {

                                        @if (tags.Tag == @i)
                                        {
                                            <button type="button" id="photobutton" class="btn btn-secondary">@i - @tags.Name</button>
                                            i++;
                                            break;
                                        }

                                    }

                                    @if (a == @i)
                                    {
                                        <button type="button" id="photobutton" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="newTag(@Model.ImageId,@i)">@i</button>
                                    }

                                    else
                                    {
                                        i--;
                                    }
                                }


                            </div>


                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">What is this person's name?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-action="NewTag">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div style="display:grid; grid-template-columns:auto auto;">
                                                    <div id="Tag_Photo_id" class="form-group">

                                                    </div>
                                                    <div id="Tag_id" class="form-group">

                                                    </div>
                                                    <div class="form-group">

                                                        <input asp-for="Name" value="" class="form-control" />
                                                        <span asp-validation-for="Name" class="text-danger"></span>
                                                    </div>


                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </form>
                                        </div>



                                    </div>
                                </div>
                            </div>


                        }
                        else
                        {

                            <div>Currently working on the tags for this photo. Thank you for your patience!</div>
                        }
                    </div>
      
                    <div class="card-footer" style="text-align:center">
                        @Html.DisplayFor(model => model.TeacherName)
                    </div>
                </div>

            </div>

        <div class="col-md-6">

            <h3 style="padding: 5px 0px 4px 10px;">
                Comments
            </h3>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider">
                                </div> <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text" />
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">
                            Search
                        </button>
                    </form>
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider">
                                </div> <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>


            <table class="table table-striped">
                @if (Model.CommentModel.Count() == 0)
                {
                    <tr>
                        <td>
                            There aren't any comments yet... Be the first to comment!
                        </td>
                    </tr>
                }


                <tbody>

                    @foreach (var com in Model.CommentModel)
                    {
                        if (com.Flag != true)
                        {
                            <tr>
                                <td>
                                    <div class="grid-container1">
                                        <div class="Comment"><h5>@Html.DisplayFor(modelItem => com.Comment)</h5></div>
                                        <div class="Name">@Html.DisplayFor(modelItem => com.Name)</div>
                                        <div class="Date">01/04/2012</div>
                                        <div class="Flag"><button class="btn btn-outline-secondary" onclick="window.location.href = '/Home/FlagComment/@com.CommentId';">Flag</button></div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>



            <form asp-action="ViewPost">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="display:grid; grid-template-columns:auto auto;">
                    <div id="hid1" class="form-group">
                        <label asp-for="Comments.Comment" class="control-label">Comment</label>
                        <input asp-for="Comments.Comment" class="form-control" required />
                        <span asp-validation-for="Comments.Comment" class="text-danger"></span>
                    </div>
                    <div id="hid2" class="form-group">
                        <label asp-for="Comments.Name" class="control-label">Name</label>
                        <input asp-for="Comments.Name" class="form-control" required />
                        <span asp-validation-for="Comments.Name" class="text-danger"></span>
                    </div>
                    <input type="number" name="Comments.Flag" hidden value="0">
                    <input type="number" name="Comments.ImageId" hidden value="@Model.ImageId">

                    <div class="form-group">
                        <div id="hid3">
                            <input type="submit" value="Post Comment" class="btn btn-primary" />
                            <button type="button" class="btn btn-primary" onclick="cancelComment()">
                                Cancel
                            </button>
                        </div>
                        <button id="hid4" type="button" class="btn btn-primary" onclick="newComment()">
                            New Comment
                        </button>
                    </div>

                </div>
            </form>






        </div>

    </div>

</div>

<script>
   

    function newTag(id, tag) {
        holder = document.getElementById("Tag_Photo_id");
        add1 = document.createElement("input");
        add1.setAttribute("type", "hidden");
        add1.setAttribute("name", "Id");
        add1.setAttribute("value", id);
        holder.append(add1);

        holder1 = document.getElementById("Tag_id");
        add2 = document.createElement("input");
        add2.setAttribute("type", "hidden");
        add2.setAttribute("name", "Tag");
        add2.setAttribute("value", tag);
        holder1.append(add2);
    }



    function newComment() {
        document.getElementById("hid1").style.display = "block";
        document.getElementById("hid2").style.display = "block";
        document.getElementById("hid3").style.display = "block";
        document.getElementById("hid4").style.display = "none";
    }

    function cancelComment() {
        document.getElementById("hid1").style.display = "none";
        document.getElementById("hid2").style.display = "none";
        document.getElementById("hid3").style.display = "none";
        document.getElementById("hid4").style.display = "block";
    }


    function viewTags() {
     
        document.getElementById("TagImage").style.display = "block";
        document.getElementById("Image").style.display = "none";
        document.getElementById("hid5").style.display = "flex";
        document.getElementById("hid5").style.justifyContent = "center";
        document.getElementById("hid5").style.alignItems = "center";
        document.getElementById("hid6").style.display = "block";
        document.getElementById("hid7").style.display = "none";
    }

    function hideTags() {
        document.getElementById("TagImage").style.display = "none";
        document.getElementById("Image").style.display = "block";
        document.getElementById("hid5").style.display = "none";
        document.getElementById("hid6").style.display = "none";
        document.getElementById("hid7").style.display = "block";
    }

</script>

