@model ImageUpload.Models.CommentModel

@{
    ViewData["Title"] = "EditComment";
}
<p>@Html.ActionLink("<Back", "index") </p>
<h1>EditComment</h1>

<h4>CommentModel</h4>
@if (Model.Flag == true)
{
    <hr />
    <h2 style="color:red">This comment has been Flagged</h2>
    <h5>Reason:</h5>
    @Html.DisplayFor(model => model.FlagModel.Reason)
    <button class="btn btn-outline-primary" onclick="window.location.href = '/Image/RemoveFlag/@Model.CommentId';">Remove Flag</button>

}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="number" name="Flag" hidden value="@Model.Flag" />
            <input type="number" name="CommentId" hidden value="@Model.CommentId">
            <input type="number" name="ImageId" hidden value="@Model.ImageId">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="ViewComment">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
